/* 
 * most of this css is lited from: 
 * http://woork.blogspot.com/2008/06/clean-and-pure-css-form-design.html
 *
 */

body {
  overflow:hidden;
  font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
}

p, h1, form, button{border:0; margin:0; padding:0;}
#options{
  margin:0 auto;
  width:380px;
  padding:14px;
}

#form-wrapper h1 {
  font-size:14px;
  font-weight:bold;
  margin-bottom:8px;
}
#form-wrapper p{
  font-size:11px;
  color:#666666;
  margin-bottom:20px;
  border-bottom:solid 1px #b7ddf2;
  padding-bottom:10px;
}
#form-wrapper label{
  display:block;
  font-weight:bold;
  text-align:right;
  width:120px;
  float:left;
}
#form-wrapper .small{
  color:#666666;
  display:block;
  font-size:9px;
  font-weight:normal;
  text-align:right;
  width:120px;
}
#form-wrapper input, #form-wrapper select{
  float:left;
  font-size:12px;
  padding:4px 2px;
  border:solid 1px #aacfe4;
  width:180px;
  margin:2px 0 20px 10px;
}
#form-wrapper button{
  clear:both;
  margin-left:130px;
  width:125px;
  height:31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
  border-radius: 6px;
  text-align:center;
  line-height:31px;
  color:#FFFFFF;
  font-size:11px;
  font-weight:bold;
}
